@import "../variables.scss";
.form {
  display: flex;
  justify-content: space-between;
  width:68rem;
  margin:auto;
  background-color: lighten($primary, 7);
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 1rem;
  button{
    padding:0.5rem;
  }
}
